// Material-ish theme example.

version 1
name "zed-hct-theme-maker material demo"
author "github.com/iamawatermelo"

// How saturated semantic colors are.
token "color-saturation" c=70

token "red" apply="color-saturation" h=20
token "green" apply="color-saturation" h=150
token "yellow" apply="color-saturation" h=90 
token "blue" apply="color-saturation" h=230
token "magenta" apply="color-saturation" h=320
token "cyan" apply="color-saturation" h=190

token "transparent" h=0 c=0 t=0 a=0.0

// Customising? Change this layer.
// Just make sure to uncomment the two nodes at the bottom.
layer "custom" {
    // Change the "seed" color here, or the primary color of the entire
    // theme.
    token "seed" h=0
    
    token "hc-primary" apply="seed" c=80
    token "hc-secondary" apply="seed" c=70
    
    // Change c (the chroma) to change how "saturated" panel elements are
    token "hc-neutral" apply="seed" c=6
    token "hc-neutral-variant" apply="seed" c=10
    
    // Change the tertiary color to a complementary color you like.
    token "hc-tertiary" h=90 c=80
    
    token "hc-error" apply="red" c=100
}

layer "default-derived" {
    token "hc-primary" apply="seed" c=80
    token "hc-secondary" apply="seed-secondary" c=70
    
    // Change c (the chroma) to change how "saturated" panel elements are
    token "hc-neutral" apply="seed" c=6
    token "hc-neutral-variant" apply="seed-secondary" c=10
    
    // Change the tertiary color to a complementary color you like.
    token "hc-tertiary" apply="seed-tertiary" c=80
    
    token "hc-error" apply="red" c=100
}

layer "red" {
    token "seed" apply="red"
    token "seed-secondary" apply="seed"
    token "seed-tertiary" apply="yellow"
}

layer "yellow" {
    token "seed" apply="yellow"
    token "seed-secondary" apply="seed"
    token "seed-tertiary" apply="red"
}

layer "green" {
    token "seed" apply="green"
    token "seed-secondary" apply="seed"
    token "seed-tertiary" apply="red"
}

layer "blue" {
    token "seed" apply="blue"
    token "seed-secondary" apply="seed"
    token "seed-tertiary" apply="green"
}

layer "magenta" {
    token "seed" apply="magenta"
    token "seed-secondary" apply="seed"
    token "seed-tertiary" apply="cyan"
}

layer "cyan" {
    token "seed" apply="cyan"
    token "seed-secondary" apply="seed"
    token "seed-tertiary" apply="magenta"
}

layer "light" {
    // Primary colors
    token "primary" apply="hc-primary" t=90
    token "primary-p10" apply="hc-primary" t=80
    token "primary-p20" apply="hc-primary" t=70
    token "on-primary" apply="hc-primary" t=40
    token "on-primary-n10" apply="hc-primary" t=50
    token "on-primary-n20" apply="hc-primary" t=60
    token "primary-container" apply="hc-primary" t=90
    token "on-primary-container" apply="hc-primary" t=30
    
    // Secondary colors
    token "secondary" apply="hc-secondary" t=90
    token "on-secondary" apply="hc-secondary" t=40
    token "on-secondary-n10" apply="hc-secondary" t=50
    token "on-secondary-n20" apply="hc-secondary" t=60
    token "secondary-container" apply="hc-secondary" t=90
    token "on-secondary-container" apply="hc-secondary" t=30
    
    // Tertiary colors
    token "tertiary" apply="hc-tertiary" t=90
    token "on-tertiary" apply="hc-tertiary" t=40
    token "on-tertiary-n10" apply="hc-tertiary" t=50
    token "on-tertiary-n20" apply="hc-tertiary" t=60
    token "tertiary-container" apply="hc-tertiary" t=90
    token "on-tertiary-container" apply="hc-tertiary" t=30
    
    // Error colors
    token "error" apply="red" t=90
    token "on-error" apply="red" t=40
    token "error-container" apply="red" t=90
    token "on-error-container" apply="red" t=30
    
    // Surface colors
    token "surface" apply="hc-neutral" t=95
    token "surface-p10" apply="hc-neutral" t=88
    token "surface-p20" apply="hc-neutral" t=78
    token "on-surface" apply="hc-neutral" t=15
    token "on-surface-n10" apply="hc-neutral" t=20
    token "on-surface-n20" apply="hc-neutral" t=30
    token "on-surface-dim" apply="hc-neutral" t=50
    token "on-surface-light" apply="hc-neutral" t=5
    token "surface-variant" apply="hc-neutral-variant" t=90
    token "on-surface-variant" apply="hc-neutral-variant" t=30
    
    token "surface-container-highest" apply="hc-neutral" t=90
    token "surface-container-high" apply="hc-neutral" t=92
    token "surface-container" apply="hc-neutral" t=94
    token "surface-container-low" apply="hc-neutral" t=96
    token "surface-container-lowest" apply="hc-neutral" t=100
    
    token "surface-variant-container-highest" apply="hc-neutral-variant" t=90
    token "surface-variant-container-high" apply="hc-neutral-variant" t=92
    token "surface-variant-container" apply="hc-neutral-variant" t=94
    token "surface-variant-container-low" apply="hc-neutral-variant" t=96
    token "surface-variant-container-lowest" apply="hc-neutral-variant" t=100
    
    // Terminal
    token "term" t=50 c=110
    token "term-bright" apply="term"
    token "term-dim" apply="term"
}

layer "dark" {
    // Primary colors
    token "primary" apply="hc-primary" t=20
    token "primary-p10" apply="hc-primary" t=30
    token "primary-p20" apply="hc-primary" t=40
    token "on-primary" apply="hc-primary" t=95
    token "on-primary-n10" apply="hc-primary" t=90
    token "on-primary-n20" apply="hc-primary" t=80
    token "primary-container" apply="hc-primary" t=30
    token "on-primary-container" apply="hc-primary" t=90
    
    // Secondary colors
    token "secondary" apply="hc-secondary" t=20
    token "on-secondary" apply="hc-secondary" t=95
    token "on-secondary-n10" apply="hc-secondary" t=90
    token "on-secondary-n20" apply="hc-secondary" t=80
    token "secondary-container" apply="hc-secondary" t=30
    token "on-secondary-container" apply="hc-secondary" t=90
    
    // Tertiary colors
    token "tertiary" apply="hc-tertiary" t=20
    token "on-tertiary" apply="hc-tertiary" t=95
    token "on-tertiary-n10" apply="hc-tertiary" t=90
    token "on-tertiary-n20" apply="hc-tertiary" t=80
    token "tertiary-container" apply="hc-tertiary" t=30
    token "on-tertiary-container" apply="hc-tertiary" t=90
    
    // Error colors
    token "error" apply="red" t=20
    token "on-error" apply="red" t=80
    token "error-container" apply="red" t=30
    token "on-error-container" apply="red" t=90
    
    // Surface colors
    token "surface" apply="hc-neutral" t=10
    token "surface-p10" apply="hc-neutral" t=16
    token "surface-p20" apply="hc-neutral" t=26
    token "on-surface" apply="hc-neutral" t=80
    token "on-surface-n10" apply="hc-neutral" t=70
    token "on-surface-n20" apply="hc-neutral" t=60
    token "on-surface-dim" apply="hc-neutral" t=55
    token "on-surface-light" apply="hc-neutral" t=95
    token "surface-variant" apply="hc-neutral-variant" t=30
    token "on-surface-variant" apply="hc-neutral-variant" t=80
    
    token "surface-container-highest" apply="hc-neutral" t=22
    token "surface-container-high" apply="hc-neutral" t=17
    token "surface-container" apply="hc-neutral" t=12
    token "surface-container-low" apply="hc-neutral" t=10
    token "surface-container-lowest" apply="hc-neutral" t=4
    
    token "surface-variant-container-highest" apply="hc-neutral-variant" t=22
    token "surface-variant-container-high" apply="hc-neutral-variant" t=17
    token "surface-variant-container" apply="hc-neutral-variant" t=12
    token "surface-variant-container-low" apply="hc-neutral-variant" t=10
    token "surface-variant-container-lowest" apply="hc-neutral-variant" t=4
    
    // Terminal
    token "term" t=70 c=110
    token "term-bright" apply="term"
    token "term-dim" apply="term"
}

layer "theme" {
    style {
        // Border stuff
        border apply="surface-variant-container-highest"
        border.disabled apply="on-surface" c=10
        border.focused apply="on-surface"
        border.selected apply="primary"
        border.variant apply="on-secondary-n20"
        
        // Surface stuff
        elevated_surface.background apply="surface-variant-container-low"
        surface.background apply="surface-variant-container"
        background apply="surface"
        
        // Navigation
        tab.active_background apply="surface-variant-container-low"
        tab.inactive_background apply="surface-variant-container-highest"
        toolbar.background apply="surface-variant-container-low"
        title_bar.background apply="surface"
        title_bar.inactive_background apply="surface-p10"
        tab_bar.background apply="surface-variant-container-low"
        status_bar.background apply="surface-container-low"
        panel.focused_border apply="surface-variant"
        
        // Elements
        element.background apply="surface-container"
        element.hover apply="primary-p10"
        element.active apply="primary"
        element.disabled apply="surface-container-highest"
        element.selected apply="surface-variant"
        ghost_element.background apply="surface-container-high"
        ghost_element.hover apply="surface-container-highest"
        ghost_element.active apply="surface-container-high"
        ghost_element.disabled apply="surface-container-highest"
        
        // Text
        text apply="on-surface"
        text.muted apply="on-surface-n20"
        text.placeholder apply="on-surface-n20"
        text.disabled apply="on-surface-n20" a=0.7
        text.accent apply="on-primary"
        
        // Icon
        icon apply="on-surface"
        icon.muted apply="on-surface-n20"
        icon.placeholder apply="on-surface-n20"
        icon.disabled apply="on-surface-n20" a=0.7
        icon.accent apply="primary"
        
        // Panel stuff
        panel.background apply="surface-variant-container"
        panel.indent_guide apply="surface-p10"
        panel.indent_guide_active apply="surface-p20"
        panel.indent_guide_hover apply="on-surface-n20"
        panel.focused_border apply="surface-p20"
        
        // Editor stuff
        editor.foreground apply="on-surface"
        editor.background apply="surface"
        editor.gutter.background apply="surface-container"
        editor.subheader.background apply="surface-container-lowest"
        editor.highlighted_line.background apply="surface-variant"
        editor.active_line.background apply="surface-variant"
        editor.active_line_number apply="on-surface-variant"
        editor.line_number apply="on-surface-dim"
        editor.wrap_guide apply="on-surface-dim" a=0.5
        editor.document_highlight.read_background apply="surface green"
        editor.document_highlight.write_background apply="surface"
        search.match_background apply="primary yellow"
        editor.invisible apply="on-surface"
        info.foreground apply="on-surface"
        info.background apply="surface-container"
        hint apply="on-surface"
        hint.foreground apply="on-surface"
        hint.background apply="surface-container"
        
        // Scrollbar stuff
        scrollbar.thumb.background apply="surface-p20" a=0.7
        scrollbar.thumb.border apply="surface-p20" a=1
        scrollbar.thumb.hover_background apply="surface-p20" a=1
        scrollbar.track.background apply="surface-container" a=0.8
        scrollbar.track.border apply="surface-container" a=0.8
        
        // Terminal stuff
        // Zed seems to ignore dim styles.
        terminal.background apply="surface"
        terminal.foreground apply="on-surface"
        terminal.bright_foreground apply="on-surface-variant"
        terminal.ansi.black apply="surface"
        terminal.ansi.bright_black apply="surface-variant"
        terminal.ansi.dim_black apply="surface"
        terminal.ansi.white apply="on-surface"
        terminal.ansi.bright_white apply="on-surface-variant"
        terminal.ansi.dim_white apply="on-surface"
        terminal.ansi.red apply="term red"
        terminal.ansi.bright_red apply="term-bright red"
        terminal.ansi.dim_red apply="term-dim red"
        terminal.ansi.green apply="term green"
        terminal.ansi.bright_green apply="term-bright green"
        terminal.ansi.dim_green apply="term-dim green"
        terminal.ansi.yellow apply="term yellow"
        terminal.ansi.bright_yellow apply="term-bright yellow"
        terminal.ansi.dim_yellow apply="term-dim yellow"
        terminal.ansi.blue apply="term blue"
        terminal.ansi.bright_blue apply="term-bright blue"
        terminal.ansi.dim_blue apply="term-dim blue"
        terminal.ansi.magenta apply="term magenta"
        terminal.ansi.bright_magenta apply="term-bright magenta"
        terminal.ansi.dim_magenta apply="term-dim magenta"
        terminal.ansi.cyan apply="term cyan"
        terminal.ansi.bright_cyan apply="term-bright cyan"
        terminal.ansi.dim_cyan apply="term-dim cyan"
        
        // Semantic colors
        conflict apply="on-primary-n20 yellow"
        conflict.border apply="transparent"
        created apply="on-primary-n20 green"
        created.border apply="transparent"
        deleted apply="on-primary-n20 red"
        error apply="on-primary-n20 red"
        modified apply="on-primary-n20 yellow"
        renamed apply="on-primary-n20 yellow"
        hidden apply="on-surface-dim"
        ignored apply="on-surface-dim"
    }
    
    syntax {
        // Formatting
        comment apply="on-surface-dim"
        comment.doc apply="on-surface-dim green"
        
        // Types
        boolean apply="on-primary-n20 yellow"
        number apply="on-primary-n20 blue"
        string apply="on-primary green"
        string.escape apply="on-primary yellow"
        string.special apply="on-primary yellow"
        string.special.symbol apply="on-primary yellow"
        string.regex apply="on-primary yellow"
        
        // Variables and functions
        variable apply="on-surface"
        variant apply="on-primary"
        attribute apply="on-primary magenta"
        property apply="on-primary"
        constant apply="on-primary magenta"
        type apply="on-tertiary-n10"
        label apply="on-primary-n20"
        embedded apply="on-primary"
        constructor apply="on-primary"
        enum apply="on-primary-n20"
        function apply="on-secondary"
        hint {
            color apply="on-surface blue"
            font_weight 700
        }
        
        // Markup languages
        link_text apply="on-primary yellow"
        link_uri apply="on-primary blue"
        tag apply="on-secondary"
        title {
            color apply="on-primary"
            font_weight 700
        }
        
        // Operator and punctuation
        punctuation apply="on-primary"
        punctuation.bracket apply="on-surface-n10"
        punctuation.delimiter apply="on-primary"
        punctuation.list_marker apply="on-primary"
        punctuation.special apply="on-primary"
        operator apply="on-surface"
        
        // Special stuff
        keyword apply="on-primary-n10"
        variable.special apply="on-primary-n10"
        primary apply="on-primary-n10"
        preproc apply="on-primary-n10"
        emphasis {
            color apply="on-primary"
            font_style "italic"
        }
        emphasis.strong {
            color apply="on-primary"
            font_weight 700
        }
        predictive {
            color apply="on-surface-n10"
            font_style "italic"
        }
    }
    
    player {
        cursor apply="on-surface"
        background apply="on-primary"
        selection apply="primary-container"
    }
    
    accent apply="primary"
}

variant "Not Material Light Red" {
    appearance "light"
    layer "red"
    layer "default-derived"
    layer "light"
    layer "theme"
}

variant "Not Material Dark Red" {
    appearance "dark"
    layer "red"
    layer "default-derived"
    layer "dark"
    layer "theme"
}

variant "Not Material Light Green" {
    appearance "light"
    layer "green"
    layer "default-derived"
    layer "light"
    layer "theme"
}

variant "Not Material Dark Green" {
    appearance "dark"
    layer "green"
    layer "default-derived"
    layer "dark"
    layer "theme"
}

variant "Not Material Light Yellow" {
    appearance "light"
    layer "yellow"
    layer "default-derived"
    layer "light"
    layer "theme"
}

variant "Not Material Dark Yellow" {
    appearance "dark"
    layer "yellow"
    layer "default-derived"
    layer "dark"
    layer "theme"
}

variant "Not Material Light Blue" {
    appearance "light"
    layer "blue"
    layer "default-derived"
    layer "light"
    layer "theme"
}

variant "Not Material Dark Blue" {
    appearance "dark"
    layer "blue"
    layer "default-derived"
    layer "dark"
    layer "theme"
}

variant "Not Material Light Magenta" {
    appearance "light"
    layer "magenta"
    layer "default-derived"
    layer "light"
    layer "theme"
}

variant "Not Material Dark Magenta" {
    appearance "dark"
    layer "magenta"
    layer "default-derived"
    layer "dark"
    layer "theme"
}

variant "Not Material Light Cyan" {
    appearance "light"
    layer "cyan"
    layer "default-derived"
    layer "light"
    layer "theme"
}

variant "Not Material Dark Cyan" {
    appearance "dark"
    layer "cyan"
    layer "default-derived"
    layer "dark"
    layer "theme"
}

// If customising, uncomment these two variants
/-variant "Not Material Light Custom" {
    appearance "light"
    layer "custom"
    layer "default-derived"
    layer "light"
    layer "theme"
}

/-variant "Not Material Dark Custom" {
    appearance "dark"
    layer "custom"
    layer "default-derived"
    layer "dark"
    layer "theme"
}