// Material theme example.

version 1
name "zed-hct-theme-maker material demo"
author "github.com/iamawatermelo"

// Change the "seed" color here, or the primary color of the entire
// theme.
token "seed" h=0

token "hc-primary" apply="seed" c=90
token "hc-secondary" apply="seed" c=80

// Change c (the chroma) to change how "saturated" panel elements are
token "hc-neutral" apply="seed" c=6
token "hc-neutral-variant" apply="seed" c=10

// Change the tertiary color to a complementary color you like.
token "hc-tertiary" h=90 c=90

token "hc-error" h=150 c=100

token "debug" h=0 c=100 t=50

token "red" h=20 c=50
token "green" h=150 c=50
token "yellow" h=90 c=50
token "blue" h=230 c=50
token "magenta" h=320 c=50
token "cyan" h=200 c=50

token "transparent" h=0 c=0 t=0 a=0.0

layer "light" {
    // Primary colors
    token "primary" apply="hc-primary" t=90
    token "primary-p10" apply="hc-primary" t=80
    token "primary-p20" apply="hc-primary" t=70
    token "on-primary" apply="hc-primary" t=40
    token "on-primary-n10" apply="hc-primary" t=50
    token "on-primary-n20" apply="hc-primary" t=60
    token "primary-container" apply="hc-primary" t=90
    token "on-primary-container" apply="hc-primary" t=30
    
    // Secondary colors
    token "secondary" apply="hc-secondary" t=90
    token "on-secondary" apply="hc-secondary" t=40
    token "secondary-container" apply="hc-secondary" t=90
    token "on-secondary-container" apply="hc-secondary" t=30
    
    // Tertiary colors
    token "tertiary" apply="hc-tertiary" t=90
    token "on-tertiary" apply="hc-tertiary" t=40
    token "tertiary-container" apply="hc-tertiary" t=90
    token "on-tertiary-container" apply="hc-tertiary" t=30
    
    // Error colors
    token "tertiary" apply="hc-tertiary" t=90
    token "on-tertiary" apply="hc-tertiary" t=40
    token "tertiary-container" apply="hc-tertiary" t=90
    token "on-tertiary-container" apply="hc-tertiary" t=30
    
    // Surface colors
    token "surface" apply="hc-neutral" t=98
    token "surface-p10" apply="hc-neutral" t=88
    token "surface-p20" apply="hc-neutral" t=78
    token "on-surface" apply="hc-neutral" t=10
    token "on-surface-n10" apply="hc-neutral" t=20
    token "on-surface-n20" apply="hc-neutral" t=30
    token "on-surface-dim" apply="hc-neutral" t=50
    token "on-surface-light" apply="hc-neutral" t=5
    token "surface-variant" apply="hc-neutral-variant" t=90
    token "on-surface-variant" apply="hc-neutral-variant" t=30
    
    token "surface-container-highest" apply="hc-neutral" t=90
    token "surface-container-high" apply="hc-neutral" t=92
    token "surface-container" apply="hc-neutral" t=94
    token "surface-container-low" apply="hc-neutral" t=96
    token "surface-container-lowest" apply="hc-neutral" t=100
    
    // Terminal
    token "term" t=50 c=110
    token "term-bright" apply="term"
    token "term-dim" apply="term"
}

layer "dark" {
    // Primary colors
    token "primary" apply="hc-primary" t=20
    token "on-primary" apply="hc-primary" t=80
    token "on-primary-n10" apply="hc-primary" t=70
    token "on-primary-n20" apply="hc-primary" t=60
    token "primary-container" apply="hc-primary" t=30
    token "on-primary-container" apply="hc-primary" t=90
    
    // Secondary colors
    token "secondary" apply="hc-secondary" t=20
    token "on-secondary" apply="hc-secondary" t=80
    token "secondary-container" apply="hc-secondary" t=30
    token "on-secondary-container" apply="hc-secondary" t=90
    
    // Tertiary colors
    token "tertiary" apply="hc-tertiary" t=20
    token "on-tertiary" apply="hc-tertiary" t=80
    token "tertiary-container" apply="hc-tertiary" t=30
    token "on-tertiary-container" apply="hc-tertiary" t=90
    
    // Error colors
    token "error" apply="hc-error" t=20
    token "on-error" apply="hc-error" t=80
    token "error-container" apply="hc-error" t=30
    token "on-error-container" apply="hc-error" t=90
    
    // Surface colors
    token "surface" apply="hc-neutral" t=6
    token "on-surface" apply="hc-neutral" t=90
    token "on-surface-light" apply="hc-neutral" t=95
    token "surface-variant" apply="hc-neutral-variant" t=30
    token "on-surface-variant" apply="hc-neutral-variant" t=80
    
    token "surface-container-highest" apply="hc-neutral" t=22
    token "surface-container-high" apply="hc-neutral" t=17
    token "surface-container" apply="hc-neutral" t=12
    token "surface-container-low" apply="hc-neutral" t=10
    token "surface-container-lowest" apply="hc-neutral" t=4
    
    // Terminal
    token "term" t=70 c=110
    token "term-bright" apply="term"
    token "term-dim" apply="term"
}

layer "theme" {
    style {
        // Border stuff
        border apply="surface-container-highest"
        border.disabled apply="on-surface" c=10
        border.focused apply="on-surface" c=90
        
        // Surface stuff
        elevated_surface.background apply="surface-container-low"
        surface.background apply="surface-container"
        background apply="surface"
        
        // Navigation
        tab.active_background apply="surface-container-low"
        tab.inactive_background apply="surface-container-highest"
        toolbar.background apply="surface-container-low"
        title_bar.background apply="surface"
        title_bar.inactive_background apply="surface-p10"
        tab_bar.background apply="surface-container-low"
        status_bar.background apply="surface-container-low"
        
        // Elements
        element.background apply="primary"
        element.hover apply="primary-p10"
        element.active apply="primary"
        element.disabled apply="primary"
        ghost_element.background apply="surface-container-high"
        ghost_element.hover apply="surface-container-highest"
        ghost_element.active apply="surface-container-high"
        ghost_element.disabled apply="surface-container-highest"
        
        // Text
        text apply="on-surface"
        text.muted apply="on-surface-n20"
        text.placeholder apply="on-surface-n20"
        text.disabled apply="on-surface-n20" a=0.7
        text.accent apply="primary"
        
        // Icon
        icon apply="on-surface"
        icon.muted apply="on-surface-n20"
        icon.placeholder apply="on-surface-n20"
        icon.disabled apply="on-surface-n20" a=0.7
        icon.accent apply="primary"
        
        // Panel stuff
        panel.background apply="surface-container"
        panel.indent_guide apply="surface-p10"
        panel.indent_guide_active apply="surface-p20"
        panel.indent_guide_hover apply="on-surface-n20"
        panel.focused_border apply="surface-p20"
        
        // Editor stuff
        editor.foreground apply="on-surface"
        editor.background apply="surface"
        editor.active_line.background apply="surface-variant"
        editor.active_line_number apply="on-surface-variant"
        editor.line_number apply="on-surface"
        editor.gutter.background apply="surface-container-low"
        editor.subheader.background apply="surface-container-lowest"
        editor.highlighted_line.background apply="surface-variant"
        
        // Scrollbar stuff
        scrollbar.thumb.background apply="surface-p20" a=0.7
        scrollbar.thumb.border apply="surface-p20" a=1
        scrollbar.thumb.hover_background apply="surface-p20" a=1
        scrollbar.track.background apply="surface-container" a=0.8
        scrollbar.track.border apply="surface-container" a=0.8
        
        // Terminal stuff
        // Zed seems to ignore dim styles,
        // so I haven't implemented most of them.
        terminal.background apply="surface"
        terminal.foreground apply="on-surface"
        terminal.bright_foreground apply="on-surface-variant"
        terminal.ansi.black apply="surface"
        terminal.ansi.black_bright apply="surface-variant"
        terminal.ansi.black_dim apply="surface"
        terminal.ansi.white apply="on-surface"
        terminal.ansi.white_bright apply="on-surface-variant"
        terminal.ansi.white_dim apply="on-surface"
        terminal.ansi.red apply="term red"
        terminal.ansi.red_bright apply="term-bright red"
        terminal.ansi.red_dim apply="term-dim red"
        terminal.ansi.green apply="term green"
        terminal.ansi.green_bright apply="term-bright green"
        terminal.ansi.green_dim apply="term-dim green"
        terminal.ansi.yellow apply="term yellow"
        terminal.ansi.yellow_bright apply="term-bright yellow"
        terminal.ansi.yellow_dim apply="term-dim yellow"
        terminal.ansi.blue apply="term blue"
        terminal.ansi.blue_bright apply="term-bright blue"
        terminal.ansi.blue_dim apply="term-dim blue"
        terminal.ansi.magenta apply="term magenta"
        terminal.ansi.magenta_bright apply="term-bright magenta"
        terminal.ansi.magenta_dim apply="term-dim magenta"
        terminal.ansi.cyan apply="term cyan"
        terminal.ansi.cyan_bright apply="term-bright cyan"
        terminal.ansi.cyan_dim apply="term-dim cyan"
        
        // Semantic colors
        conflict apply="on-primary-n20 yellow"
        created apply="on-primary-n20 green"
        deleted apply="on-primary-n20 red"
        error apply="on-primary-n20 red"
    }
    
    syntax {
        // Formatting
        comment apply="on-surface-dim"
        comment.doc apply="on-surface-dim green"
        
        // Types
        boolean apply="on-primary-n20 yellow"
        number apply="on-primary-n20 blue"
        string apply="on-primary green"
        string.escape apply="on-primary yellow"
        string.special apply="on-primary yellow"
        string.special.symbol apply="on-primary yellow"
        string.regex apply="on-primary yellow"
        
        // Variables and functions
        variable apply="on-surface-n20"
        variant apply="on-primary"
        attribute apply="on-primary-n20 magenta"
        property apply="on-primary"
        constant apply="on-primary magenta"
        type apply="on-tertiary"
        function apply="on-surface"
        label apply="on-surface"
        embedded apply="on-primary-n20"
        
        // Operator and punctuation
        punctuation apply="on-primary"
        punctuation.bracket apply="on-surface-n20"
        punctuation.delimiter apply="on-primary"
        punctuation.list_marker apply="on-primary"
        punctuation.special apply="on-primary"
        operator apply="on-primary-n20"
        
        // Special stuff
        keyword apply="on-primary"
        variable.special apply="on-primary-n20"
        primary apply="on-primary-n20"
        preproc apply="on-primary-n20"
    }
    
    /-accent apply="primary"
}

variant "Material Light" {
    appearance "light"
    layer "light"
    layer "theme"
}

variant "Material Dark" {
    appearance "dark"
    layer "dark"
    layer "theme"
}